<!DOCTYPE html>
<html style="background-color:  #e8f8f5 ;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
</head>

<body>
    <div id="app">
        <form action="?"  method="post" enctype="multipart/form-data">
            <section class="columns">
                <section class="column is-4-desktop">
                    <section class="center">
                        <b-image
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Bras%C3%A3o_da_UFPE.png/1200px-Bras%C3%A3o_da_UFPE.png"
                            alt="The Buefy Logo"
                            style="width:25%"
                        ></b-image>
                    </section>
                    <section>
                        <b-field class="file is-primary" label="Arquivo" horizontal :class="{'has-name': !!file}">
                            <b-upload  name="file" v-model="file" class="file-label" accept=".xlsx" required validationMessage="Please select a file">
                                <span class="file-cta">
                                    <b-icon class="file-icon" icon="upload"></b-icon>
                                    <span class="file-label">Clique para upload (Somente .xlsx)</span>
                                </span>
                                <span class="file-name" v-if="file">
                                    <b-icon
                                        style="height: 1.5rem !important;"
                                        pack="fas"
                                        icon="check"
                                        size="is-large"
                                        type="is-success">
                                    </b-icon>
                                </span>
                            </b-upload>
                        </b-field>
                    </section>
                    <section>
                        <b-field horizontal label="Método">
                            <b-select name="method" placeholder="Selecione um método" v-model="method" required>
                                <option value="1">Topsis</option>
                                <option value="2">PLI</option>
                            </b-select>
                        </b-field>
                    </section>
                    <section class="columns" v-if="method == 2">
                        <section class="column is-6-desktop">
                            <b-field horizontal label="Orçamento">
                                <b-input name="rest1" ></b-input>
                            </b-field>
                            <b-field horizontal label="Hora-arquiteto (H)">
                                <b-input name="rest3" ></b-input>
                            </b-field>
                            <b-field horizontal label="∑ xai">
                                <b-input name="rest5" ></b-input>
                            </b-field>
                            <b-field horizontal label="∑ xci">
                                <b-input name="rest7" ></b-input>
                            </b-field>
                            <b-field horizontal label="xr1">
                                <b-input name="rest9" ></b-input>
                            </b-field>
                            <b-field horizontal label="x3r">
                                <b-input name="rest11" ></b-input>
                            </b-field>
                        </section>
                        <section class="column is-6-desktop">
                            <b-field horizontal label="∑ xi * ci">
                                <b-input name="rest2" ></b-input>
                            </b-field>
                            <b-field horizontal label="∑ xi * hi">
                                <b-input name="rest4" ></b-input>
                            </b-field>
                            <b-field horizontal label="∑ xbi">
                                <b-input name="rest6" ></b-input>
                            </b-field>
                            <b-field horizontal label="∑ xdi">
                                <b-input name="rest8" ></b-input>
                            </b-field>
                            <b-field horizontal label="xr2">
                                <b-input name="rest10" ></b-input>
                            </b-field>
                        </section>
                    </section>
                    <section>
                        <b-field horizontal>
                            <p class="control">
                                <button id="submit" name="submit" class="button is-primary" type="submit" value="1">Gerar Relatório</button>
                            </p>
                        </b-field>
                    </section>
                </section>
                <section class="column is-8-desktop output">
                    Resultado:
                </section>
            </section>
        </form>

    </div>
    <script src="https://unpkg.com/vue@2"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script src="https://unpkg.com/buefy/dist/components/table"></script>
    <script src="https://unpkg.com/buefy/dist/components/input"></script>
    <script src="https://kit.fontawesome.com/c960b2d75b.js" crossorigin="anonymous"></script>
    <script>
        new Vue({
            el: '#app',
            data(){
                return {
                    file:null,
                    method: null
                }
            },
            methods: {
                selectItem(aaa){
                }
            }, created() {
            },

        })
    </script>
</body>
</html>
<style>
    #app{
        margin: 1%;
    }
    .center{
        justify-content: center !important;
        display: flex;
    }
    section{
        padding-block-end: inherit;
    }

    .output {
        border: 1px solid black !important;
    }

    .button.is-primary {
  background-color: #7957d5;
  border-color: transparent;
  color: #fff;
}
.dataframe{
    width: -moz-available;
}
.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(.5em - 1px);
  text-align: center;
  white-space: nowrap;
}
</style>

